db.sqlite3

__pycache__/

*/migrations/
!*/migrations/__init__.py

media/**

!media/.gitkeep
!media/avatars/
!media/avatars/default.jpg
!media/covers/
!media/group_avatars
!media/group_chat_files
!media/group_posts
!media/post_images
!media/private_chat_files

.env

structure.txt

celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

help.txt

/staticfiles

